@font-face {
  font-family: tan-pearl;
  src: url('./fonts/TAN-PEARL.woff');
  font-display: swap;
}
@font-face {
  font-family: cooper-black;
  src: url('./fonts/cooper-black-webfont.woff');
  font-display: swap;
}

body {
    background-image: url('./assets/background.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    color: #518dca;
	font-family: cooper-black;
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 h1,h2,h3{ 
	font-family: cooper-black;
	color: #ca75ab;
	margin: 20px 0;
 }

code, .code {
    font-size: 75%;
    color:#518dca;
	font-family: tan-pearl;
}

footer {
	align-items: center;
    display: flex;
	background: #eddb55;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    background: #eddb55;
    margin-top: auto;
}

/* img { */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 30%; */
/* } */

p{
	margin: 10px;
}

b{
	color: #ca75ab;
}

.footerDiv{
	margin-right: auto;
	margin-left: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-self: flex-start;
}


a {
    color: #518dca;
}

.navLinks {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #518dca;
}

.navAdress {
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 5px 20px;
	text-align: center;
}

.navAdress:hover{
	color: #ca75ab;
}

.icon, .navBar { background-color:#eddb55!important; }

.icon {
	padding: 10px 8px;
	vertical-align: middle;
	display: block;
	float: right;
}

.icon:hover {
    background-color:#ca75ab!important
}

.navBar { 
	display: flex;
	justify-content: space-between;
	align-items: center;
    position:fixed; 
    width:100%; 
    z-index:1; 
    top:0; 
    left:0; 
    padding:unset;
}

.staticImg{width: 50%;}

/* #toggleNavBar { display: none;} */
/* #toggleNavBar:checked ~ .navBar { display: block;} */
@media (max-width:1200px){ .staticImg{width: 100%;}}
@media (max-width:800px){ .ascii{font-size: 8px;} .staticImg{width: 100%;}}
@media (max-width:700px){ .ascii{font-size: 7px;}}
@media (max-width:600px){ .ascii{font-size: 6px;}}
@media (max-width:500px){ .ascii{font-size: 5px;}}
@media (max-width:400px){ .ascii{font-size: 4px;}}
@media (max-width:300px){ .ascii{font-size: 3px;}}
@media (min-width:800px){ .ascii{font-size: 9px;}}

.applies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.apply{
	border: 2px;
	border-color: #e38c84;
	border-style: solid;	
	margin: 10px;
	background-color: #eddb55;
	display: flex;
	justify-content: center;
	align-items: center;
}

.apply:hover {
	background-color: #e38c84;
	border-color: #eddb55;
}

.divider {
    border-top: 2px solid #eddb55;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Definisce la larghezza delle celle e altri parametri */
    gap: 20px; /* Spazio tra gli elementi della griglia */
    justify-content: center;
    padding: 20px; /* Spazio intorno all'intera griglia */
}

.grid-item {
    border: 2px solid #eddb55;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Spazio intorno all'immagine all'interno del bordo */
	height: 150px;	/* Altezza del bordo */
	border-radius: 10px;	/* Angoli arrotondati del bordo */
	/* background-color: #6fcaf3; */
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.flag{
	width: 20px;
    height: 15px;
    overflow:hidden;
    /* border:1px solid #efefef */
}

.italy{
    background:linear-gradient(
        90deg,
        #009246 33.33333%,
        #fff 33.33333%,
        #fff 66.66667%,
        #ce2b37 66.66667%
    );
}

.the-united-kingdom{
    background:#00247d;
    position:relative
}

.the-united-kingdom:before{
    position:absolute;
    content:"";
    top:0;
    left:0;
    background:linear-gradient(
            180deg,
            transparent 40%,
            #cc142b 0,
            #cc142b 60%,
            transparent 0
        ),
        linear-gradient(
            90deg,
            transparent 45%,
            #cc142b 0,
            #cc142b 55%,
            transparent 0
        ),
        linear-gradient(
            180deg,
            transparent 35%,
            #fff 0,
            #fff 65%,
            transparent 0
        ),
        linear-gradient(
            90deg,
            transparent 40%,
            #fff 0,
            #fff 60%,
            transparent 0
        ),
        linear-gradient(
            146deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) -65px 45px,
        linear-gradient(
            146deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) 55px -45px,
        linear-gradient(
            34deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) -75px -43px,
        linear-gradient(
            34deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) 70px 46px,
        linear-gradient(
            146deg,
            transparent 45%,
            #fff 0,
            #fff 55%,
            transparent 0
        ),
        linear-gradient(
            34deg,
            transparent 45%,
            #fff 0,
            #fff 55%,
            transparent 0
        );
	width: 20px;
	height: 15px;
    background-repeat:no-repeat
}